
*{
    font-family:  sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 1.7;
    letter-spacing: 0.5px;
    box-sizing: border-box;
    
}

 
.top-bar{
    background: #000;
    color: azure;
    display: flex;
}


.top-bar {
    height: 40px;
    font-size: smaller;
    padding-top: 10px;
    justify-content: space-between;
}

.ps-0{
    color: aliceblue;
    display: flex;
    list-style-type: none;
}

.top-bar .ps-0 li{
    padding-left: 20px;
}

.ps-0  ul li svg{
    width: 20px;
    padding-left: 20px;
}

.ps-01{
    display: flex;
    

}
.ps-01  li{
    list-style-type: none;
}

.ps-01 li svg{
    padding: 5px;
    width: 50px;
    height: 25px;
}

.na .nav1{
    display: flex;
    justify-content: space-between;
}

.navbar .navbar-nav .nav-item .nav-link{
    font-size:medium;
    /* padding-left: 5px; */
    overflow-x: hidden;
}

.carousel .carousel-inner .carousel-item img{
    box-shadow: inset gray 0px 0px 60px -12px;
    
}

#carouselExampleControls{
    overflow-x: hidden;
}
.navbar{
    overflow-x: hidden;
}
.nav-icon{
    overflow-x: hidden;
}

.card{
    margin-top: 70px;


    --card-shadow-color: 4, 9, 20; /* RGB equivalent of #040914 */
  
  box-shadow: 0px 0.46rem 2.18rem rgba(var(--card-shadow-color), 0.03),
    0px 0.93rem 1.4rem rgba(var(--card-shadow-color), 0.03),
    0px 0.25rem 0.53rem rgba(var(--card-shadow-color), 0.05),
    0px 0.12rem 0.18rem rgba(var(--card-shadow-color), 0.03);
    
  /* Presentational styles */
  border: 1px solid rgba(var(--card-shadow-color), 0.1);

  width: 650px;
  height: 200px;
  border-radius: 20px;
}

/* .form1{
    display: flex;
    justify-content: space-around;
}

.form1 img{
    padding-top: 200px;
} */
.cards{
    display: flex;
    flex-wrap: wrap;

    }

.cards  :hover{
    /* margin-bottom: 10px; */
    background-color: rgb(9, 34, 5);
    border-radius: 20px;
    color: azure;
    
    
}

.cards .card .c1 .c2 {
    padding-top: 50px;
    padding-left: 20px;
    
}
 .cards .card .c1 .c2 svg{
    background-color: #c8f5ce;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    padding: 10px;
 }

 .cards .card .card-body{
    
 }

.card svg {
    height: 70px;
    /* padding: auto; */
    margin-bottom: 10px;
    


}

.third-section{
    display: flex;
    padding-top: 100px;
}

.third-section .content-3rd{
border: #000 solid;
padding-left: 200px;
border-style: none;
margin-right: 110px;


}
.third-section .content-3rd h2{
    padding-top: 100px;
    padding-right: 10px;
}

.third-section .content-3rd p{
    padding-top: 10px;
}

.third-section .content-3rd li{
    padding-top: 10px;
    list-style: none;
}

.third-section .image-3rd {
    border: #000 solid;
    border-style: none;
   
    padding-right: 200px;
}

.third-section .image-3rd img{
    border-radius: 20px;
    width:700px;
}

 .list-content{
    display: flex;
}
.list-3rd .list-content .pic{
    border: #000 solid;
    border-radius: 50%;
    padding: 5px;
    border-style: none;
    border: 1px solid rgba(var(--card-shadow-color), 0.1);

    --card-shadow-color: 4, 9, 20; /* RGB equivalent of #040914 */
  
    box-shadow: 0px 0.46rem 2.18rem rgba(var(--card-shadow-color), 0.03),
      0px 0.93rem 1.4rem rgba(var(--card-shadow-color), 0.03),
      0px 0.25rem 0.53rem rgba(var(--card-shadow-color), 0.05),
      0px 0.12rem 0.18rem rgba(var(--card-shadow-color), 0.03);

}

.list-3rd .list-content li{
    padding-left: 5px;
}

.pic-pos{
    padding-top: 280px;
}

.forth{
    margin-top: 100px;
    background-color: #14212b;
    color:aliceblue;
    padding-bottom: 60px;
    
}

.card-02{
    display: flex;
    padding-bottom: 100px;
    justify-content: center;
    flex-wrap: wrap;
}

.card-02 .card-2{
    background-color: #20303d;
    width: 400px;
    height: 280px; 

    
}
/* .card-02 .card-1st{
  margin-left: 200px;
} */

.forth h2{
    padding-top: 90px;
}

.card-02 svg{
    width: 80px;
    padding-top: 15px;
    padding-left: 5px;
}

.float-content{
    display: flex;

    margin-left: 300px;
    margin-right: 300px;
    padding-right: -50px;
    border-radius: 25px;
    overflow: hidden;
    justify-content: center;
 
}

.float-content .float-img img{
    width: 400px;
    height: 180px;
}
.float-content .float-text{
    padding-top: 30px;
    padding-left: 80px;
    padding-right: 40px;
    background-color: rgb(103, 224, 87);
    overflow-y: hidden;
}

.combine-form{
    display: flex;
}

.combine-form .pic-form{
    padding-top: 200px;
    margin-right: -100px;
    margin-left: 100px;
    
}

.combine-form .pic-form img{
    border-radius: 20px;
}
.form{
    width: 750px;
    height: 650px;
    margin-top: 250px;
    margin-bottom: 100px;
}

.form .form1{
    border-radius: 20px;

}

/* .form .farm{
    height: 100px;
    background-color: #000;
} */
.form .quform .quform-elements .form-control {
    padding: 10px;
    
}
.container{
    margin-top: 100px;
    padding-top: 50px;
}

.container  .social-list2 li a i{
    color: #000;
    border: #14212b solid;
    border-radius: 50%;
    border-width: 1px;
    padding: 10px;
    transition: transform .2s; /* Animation */
}

.container  .social-list2 li a  :hover{
    background-color: #000;
    color: beige;
}

.cont :hover{
    transform: scale(1.01)
}

.con{
    padding-bottom: 150px;
}

.sixth img{
    border-radius: 20px;
}
/* .sixth{
    padding: 150px;
} */

.sixth-image-container{
    position: relative;
    /* width: 800px;
    height: 500px; */
    overflow: hidden;
}

.sixth-image-container img{
    width: 100%;
    height: 800%;
    object-fit: cover;
    padding-left: 140px;
    padding-right: 140px;
    padding-bottom: 150px;
    padding-top: 40px;
    border-radius: 20px;
}

.card-03{
    position: absolute;
    top: 5%;
    left: 56%;
    height: 00px;

}

.card-03 .card-2 svg{
    width: 80px;
    height: 100px;
    padding-left: 10px;
}
/* 
.card-03 .card-2 .card-body{

} */

.card-2{
    width: 500px;
    height: 400px; 
    margin-left: 30px;
    
}

.picpos2{
    position: relative;
    overflow: hidden;
}
.float-content {
    z-index: 1;
    position: absolute;
    top: 39%;
    
}
.last-card{
    display: flex;
    flex-wrap: wrap;
}

.last-card .card img{
    width: 380px;
    height: 250px;

}

.last-card .card{
    width: 380px;
    height: 410px; 
    overflow: hidden;
    
}
.last-card {
    position: relative;
}


.last-card .date{
    position: absolute;
    
    z-index: 1;
    top: 290px;
    left: 250px;
}

.date{
    border: #f7f3f3 solid 5px;
    background-color: rgb(85, 187, 83);
    border-radius: 50%;
    width: 65px;
    height: 65px;
    color: aliceblue;
}

.last-card:hover{
    .date{
        background-color: black;
        color: white;
    }
    
}
.date h5{
    margin-bottom: -3px;
    padding-left: 13px;
    
}
.date .txt{
    margin-bottom: -3px;
    padding-left: 18px;
    padding-top: 5px;
    font-size: 15px;
    
}

.last{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}



/* .bottom-bar{
    background: #000;
    color: azure;
    display: flex;
}


.bottom-bar {
    height: 400px;
    font-size: smaller;
    padding-top: 10px;
}

.tps-0{
    color: aliceblue;
    display: flex;
    list-style-type: none;
}

.bottom-bar .ps-0 li{
    padding-left: 20px;
}

.tps-0{
    padding-left: 150px;
}

.tps-0  ul li svg{
    width: 20px;
    padding-left: 20px;
}

.tps-01{
    display: flex;
    padding-left: 950px;

}
.tps-01  li{
    list-style-type: none;
}

.tps-01 li svg{
    padding: 5px;
    width: 50px;
    height: 25px;
} */

/* .bottom-bar img{
    width: 140px;
    height: 50px;
}
 */

.footer .container .text-end li i{
color: white;
padding-left: 10px;
}

.footer{
    color: white;
}

.footer ul li{
    list-style-type: none;
    
}
.footer ul li a{
    color: #f7f3f3;
    text-decoration: none;
}

.footer .main-footer .content{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/* .footer .container .main-footer .content .info ul{
    padding-left: 100px;
} */



 /* Mobile Styles (320px — 480px) */
 @media (max-width: 480px) {
    *{
        font-size: 14px;
    }
    
.top-bar .ps-01{
       display: none;
    }
.top-bar{
    height: 55px;
   display: flex;
   justify-content: space-around;
   padding-right: 10px;
}
.top-bar .ps-0{
    margin-left: -25px;
    padding-top: 10px;
    justify-content: space-around;
}
.top-bar .ps-0 li{
    display: flex;
   
    justify-content: space-around;
    padding-left: 18px;
}
    .card-03{
        left: 60px;
        height: 100px;
        top: -60px;
      }

      .card-2{
        width: 200px;
        height: 230px; 
        margin-left: 30px;
        font-size: 8px;
        
    }

    .sixth-image-container{
        height: 240px;
    }

    .sixth-image-container img{
        display: none;
    }
      
/* 
    *{
        overflow-x: auto;
    } */
 
    
    /* .navbar .nav1 .nav2 img{
        display: none;
    } */
   
      .navbar .nav-icon .nav-item{
        margin-left: -400px;
      }
      .third .third-section{
        flex-wrap: wrap;
        }
        .third .third-section .image-3rd img{
            width: 250px;
            margin-left: 45px;
    margin-right: -150px;
            margin-top: 40px;
        }  
        
        .third-section .content-3rd{
            padding-left: 50px;      
      }    
      
      .third .dummy{
        display: none;
      }
         
      .float-content{
    left: 0px;
    }

.cards .card0{
    width: 200px;
    height: 200px;
    margin-right: 30px;
}
.forth .card-02 .card-2{
    width: 300px;
    height: 300px;
    margin-right: 30px;
}

.last .last-card{
   padding-right: 20px;
    width: 400px;
    height: 500px;
}
.last-card{
    margin-right: -50px;
    margin-right: 10px;
    overflow-x: hidden;
    }
.footer .container .num1 {
    display: flex;
    flex-direction: column;
    
}

.footer .container .num1 .icons {
    justify-content: center;
    margin-left: -150px;
    padding-top: 50px;
}

/* #carouselExampleControls .carousel-inner .carousel-item img{

} */


.form {
  width: 400px;
  height: 80%;
  width: 350px;
}

form .quform-elements .qu1 .i1{
    
    margin-left: -45px;
    width: 300px;
}

form .quform-elements  .i2{
    margin-left:18px;
    width: 300px;
}

form .quform-elements .qu1 .i3{
    
    margin-left: -45px;
    width: 300px;
}

form .quform-elements  .i4{
    margin-left:18px;
    width: 300px;
}


form .quform-elements  .i5{
    margin-left: -20px;
    width: 300px;
}

form .quform-elements .form-group .quform-input .i6{
    
    /* margin-left: 15px;
    width: 300px; */
}
form .i7{
    margin-top: -10px;
    margin-left: -60px;
}

form .i8{
    margin-top: -50px;
    margin-left: -90px;
}

form{
    margin-left: 10px;
}
.float-content{
    left: -235px;
    width: 250px;
    top: 1450px;
    }

    .float-content .float-img img{
       display: none;
    }

    .float-content .float-text{
        margin-left: -60px;
    }
.cards .card .c1{
    
    height: 500px;
    font-size: 15px;
    justify-content: center;
}

.cards svg{
    margin-top: -40px;
    margin-bottom: -10px;

}
.pic-form{
    display: none;
}

.combine-form{
    justify-content: center;
}
  
 }

 /* Tablet Styles (481px — 768px) */
 @media (max-width:350px) {

    .top-bar{
        height: 55px;
       display: flex;
       justify-content: space-around;
    }
    .top-bar .ps-0{
        margin-left: -60px;
        padding-top: 10px;
        justify-content: space-around;
    }
    .top-bar .ps-0 li{
        display: flex;
       
        justify-content: space-around;
        padding-left: 18px;
    }

    .third .third-section img{
        display: none;

    }
    .navbar{
        overflow-x: hidden;
    }
    .card-03{
        left: 0px;
        height: 100px;
        top: -60px;
      }

      .card-2{
        width: 280px;
        height: 180px; 
        margin-left: 30px;
        font-size: 8px;
        
    }
    
  
    .float-content{
        left: -260px;
        width: 230px;
        top: 1450px;
        }
    
        .float-content .float-img img{
           display: none;
        }
    
        .float-content .float-text{
            margin-left: -60px;
        }
    
        .pic-form{
            display: none;
        }
        
        .combine-form{
            justify-content: center;
        } 
      
    
 }


 @media(min-width: 481px) and (max-width: 768px) {
    .top-bar{
        height: 55px;
       display: flex;
       justify-content: space-around;
    }

    .top-bar .ps-01{
        display: hidden;   
       }
   
    .top-bar .ps-0{
        margin-left: -25px;
        padding-top: 10px;
        justify-content: space-around;
    }
    .top-bar .ps-0 li{
        display: flex;
        justify-content: space-around;
        padding-left: 18px;
    }



    .cards .card .c1 .c2{
       margin-top: -40px;
       
            }

            .cards .card .c1 {
                font-size: 14px;
            }

            .cards .card{
                overflow-y: hidden;
            }
            
    
    .third .third-section{
        flex-wrap: wrap;
        }
        
        .third .third-section img{
            width: 300px;
            margin-left: 100px;
            margin-top: 40px;
            padding-left: -100px;
           
        }  
        .third .third-section .image-3rd{
            overflow-x: hidden;
        }     
        .third-section .content-3rd{
            padding-left: 50px;      
      }

      .third .dummy{
        display: none;
      }

    .farm{
        width: 500px;
        height: 500px;
    }
    .form .farm form{
    justify-content: center;
    align-items: center;
    }

    .sixth-image-container  img{
        
    }

    .footer .container .num1 {
        display: flex;
        flex-direction: column;
        
    }

    .footer .container .num1 .icons {
        justify-content: center;
        margin-left: -150px;
    }

    .form {
        width: 500px;
        margin-left: -20px;
        height: 900px;
      }
      
      form .quform-elements .qu1 .i1{
          
        width: 200px;
      }
      
      form .quform-elements  .i2{
        
        width: 200px;
      }
      
      form .quform-elements .qu1 .i3{

        width: 200px;
      }
      
      form .quform-elements  .i4{

        width: 200px;
      }
      
      
      form .quform-elements  .i5{
          margin-left: 20px;
          width: 300px;
      }
      
      form .quform-elements .form-group .quform-input .i6{
          
          margin-left: 15px;
          width: 300px;
      }
      form .i7{
          margin-top: -30px;
          padding-right: 50px;
      }
      
      form .i8{
          margin-top: -50px;
          padding-right: 70px;
      }

      .form{
        margin-left: 5px;
      }

      .last-card{
        overflow-x: hidden;
      }

      .card-03{
        left: 100px;
        height: 100px;
        top: -60px;
      }

      .card-2{
        width: 280px;
        height: 280px; 
        margin-left: 30px;
        font-size: 12px;
        
    }
    .sixth-image-container img{
        height: 100%;
    }
      
    .float-content{
        left: -190px;
        width: 300px;
        top: 1450px;
        }
    
        .float-content .float-img img{
           display: none;
        }
    
        .float-content .float-text{
            margin-left: -60px;
        }
        .pic-form{
            display: none;
        }
        
        .combine-form{
            justify-content: center;
        }
      
}

.form{
    @media (min-width:768px) {
        
    }
}

 /* Laptop Styles (769px — 1024px) */
 @media (min-width: 769px) and (max-width: 1024px) {
    .top-bar{
        height: 55px;
       display: flex;
       justify-content: space-around;
    }
    .top-bar .ps-0{
        margin-left: -25px;
        padding-top: 10px;
        justify-content: space-around;
    }
    .top-bar .ps-0 li{
        display: flex;
       
        justify-content: space-around;
        padding-left: 18px;
    }
.navbar{
    margin-left: -110px
    
}
.navbar .nav-icon{
    margin-right: 50px;
    margin-left: -300px;
}

.third .third-section{
    flex-wrap: wrap;
    }
    .third .third-section img{
        width: 350px;
        margin-left: 150px;

        margin-top: 40px;
    }        

    .third-section .content-3rd{
        padding-left: 80px;      
  }

  .third .dummy{
    display: none;
  }

  .float-content{

}

.form{
    margin-right: 50px;
}
.farm{
    width: 600px;
    height: 500px;
}
.sixth-image-container  img{
    
}
.card-03{
    left: 400px;
    top: -40px;
  }

  .card-2{
    width: 330px;
    height: 350px; 
    margin-left: 30px;
    
}

.sixth-image-container img{
    height: 100%;
}

.float-content{
    left: -150px;
    width: 700px;
    top: 1000px;
    }

    .float-content .float-img img{
        width: 300px;
    }

    .float-content .float-text{
        margin-left: -60px;
    }

    .pic-form{
        display: none;
    }
.combine-form .form{
    
    margin-left: 80px;
}

}

  
@media (max-width:859px) and (min-width:767px){
    .float-content{
        left: -100px;
        width: 400px;
        top: 1450px;
        }
    
        .float-content .float-img img{
           display: none;
        }
    
        .float-content .float-text{
            margin-left: -60px;
        }

        .pic-form{
            display: none;
        }
        
        .combine-form{
            justify-content: center;
        } 

        .pic-form{
            display: none;
        }
    
}

 

 @media  (min-width:1024px) and (max-width:1300px) {
    .navbar{
     margin-left: -200px;
    }
    .pic-form{
        display: none;
    }
    .navbar .nav-icon{
        margin-right: 10px;
        margin-left: -200px
         
    }

    .navbar img{
        margin-left: 100px;
    }
    .navbar .nav1 .nav2 img{
        width: 50px;
    }
    .third .third-section{
        flex-wrap: wrap;
        }
    .third .third-section img{
        width: 400px;
        margin-left: 150px;

        margin-top: 40px;
    }    
    .third-section .content-3rd{
       
        padding-left: 100px;
       
        margin-right: 400px;
 }
 .third-section .content-3rd{
    padding-left: 100px;      
}

.third .dummy{
    display: none;
  }


.farm{
    width: 600px;
    height: 500px;
}

.pic-form{
    display: none;
}

.combine-form{
    justify-content: center;
}

/* .sixth-image-container  img{
   
} */

.card-03{
    left: 450px;
  }

  .card-2{
    width: 350px;
    height: 350px; 
    margin-left: 30px;
    
}
.float-content{
    left: 10px;
    width: 700px;
    top: 1100px;
    }

    .float-content .float-img img{
        width: 300px;
    }

    .float-content .float-text{
        margin-left: -60px;
    }

}


 @media (min-width:1300px)  and (max-width:1500px) {
    .navbar .nav-icon{
        margin-left: -100px;
        margin-right: 100px;
    }

    .third .third-section img{
        width: 500px;
        margin-left: 10px;
    } 

    .third-section .content-3rd{
       padding-left: 100px;      
 }
.float-content{
 
}

.farm{
    width: 700px;
    height: 500px;
}

.pic-form{
    display: none;
}

.combine-form{
    justify-content: center;
}
/* .sixth-image-container  img{
    display: none;
} */

.footer .container .num1{
    display: flex;
    flex-wrap: wrap;
}

.sixth-image-container img{
    width: 100%;
    height: 800%;
    object-fit: cover;
    padding-left: 140px;
    padding-right: 140px;
    padding-bottom: 150px;
    padding-top: 40px;
    border-radius: 20px;
}

.card-03{
  left: 600px;
}

.card-03 .card-2 svg{
    width: 80px;
    height: 300px;
    padding-left: 10px;
}



  .card-2{
    width: 400px;
    height: 350px; 
    margin-left: 30px;
    
}

.float-content{
    left: -100px;
    width: 800px;
    }

    .float-content .float-text{
        margin-left: -50px;
    }

 }






 
